<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="skill-log-nav-container2">
                        <nav class="skill-log-nav">
                            <div class="skill-log-nav-div">
                                <a class="skill-log-blog-a" href="">
                                    <p class="skill-log-blog-p">블로그 홈</p>
                                </a>
                                <div
                                    height="16"
                                    class="skill-log-context16"
                                ></div>
                                <ul class="nav-list">
                                    <li class="nav-list-li-line-1">
                                        <div
                                            orientation="horizontal"
                                            data-orientation="horizontal"
                                            role="separator"
                                            class="nav-list-li-line"
                                        ></div>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    목록
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li-line-1">
                                        <div
                                            orientation="horizontal"
                                            data-orientation="horizontal"
                                            role="separator"
                                            class="nav-list-li-line"
                                        ></div>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="new-post.html">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    새 글 작성
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li-line-1">
                                        <div
                                            orientation="horizontal"
                                            data-orientation="horizontal"
                                            role="separator"
                                            class="nav-list-li-line"
                                        ></div>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="my-post-list.html">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    내 글 목록
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li-line-1">
                                        <div
                                            orientation="horizontal"
                                            data-orientation="horizontal"
                                            role="separator"
                                            class="nav-list-li-line"
                                        ></div>
                                    </li>
                                    <li class="nav-list-li">
                                        <a target="_blank" href="try-catch-story.html">
                                            <div class="skill-log-channel">
                                                <p
                                                    class="skill-log-channel-font"
                                                >
                                                    try-catch팀 이야기
                                                </p>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    foundation="[object Object]"
                                                    class="skill-log-ikon-1 skill-log-ikon-2"
                                                    data-testid="bezier-react-icon"
                                                    margintop="0"
                                                    marginright="0"
                                                    marginbottom="0"
                                                    marginleft="0"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        fill-rule="evenodd"
                                                        d="M10.357 3H12v2h-1.6c-1.137 0-1.929 0-2.546.051-.605.05-.953.142-1.216.276a3 3 0 0 0-1.311 1.311c-.134.263-.226.611-.276 1.216C5.001 8.471 5 9.264 5 10.4v3.2c0 1.137 0 1.929.051 2.546.05.605.142.953.276 1.216a3 3 0 0 0 1.311 1.311c.263.134.611.226 1.216.276.617.05 1.41.051 2.546.051h3.2c1.137 0 1.929 0 2.546-.051.605-.05.953-.142 1.216-.276a3 3 0 0 0 1.311-1.311c.134-.263.226-.611.276-1.216.05-.617.051-1.41.051-2.546V12h2v1.643c0 1.084 0 1.958-.058 2.666-.06.729-.185 1.369-.487 1.961a5 5 0 0 1-2.185 2.185c-.592.302-1.232.428-1.961.487C15.6 21 14.727 21 13.643 21h-3.286c-1.084 0-1.958 0-2.666-.058-.728-.06-1.369-.185-1.96-.487a5 5 0 0 1-2.186-2.185c-.302-.592-.428-1.232-.487-1.961C3 15.6 3 14.727 3 13.643v-3.286c0-1.084 0-1.958.058-2.666.06-.728.185-1.369.487-1.96A5 5 0 0 1 5.73 3.544c.592-.302 1.233-.428 1.961-.487C8.4 3 9.273 3 10.357 3"
                                                        clip-rule="evenodd"
                                                    ></path>
                                                    <path
                                                        fill="currentColor"
                                                        d="M20.808 8.588C21 8.364 21 7.88 21 6.91V4.6c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C20.24 3 19.96 3 19.4 3h-2.31c-.97 0-1.454 0-1.678.192a.8.8 0 0 0-.278.67c.023.295.366.638 1.051 1.323l.608.608-5 5a1 1 0 0 0 1.414 1.414l5-5 .608.608c.685.685 1.028 1.028 1.322 1.051a.8.8 0 0 0 .671-.278"
                                                    ></path>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div
                                    height="40"
                                    class="skill-log-context40"
                                ></div>
                                <button class="skill-log-button">
                                    <div class="skill-log-find">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            foundation="[object Object]"
                                            class="skill-log-find-ikon1 skill-log-find-ikon2"
                                            color="txt-black-dark"
                                            margintop="0"
                                            marginright="0"
                                            marginbottom="0"
                                            marginleft="0"
                                        >
                                            <path
                                                fill="currentColor"
                                                d="M10 2a8 8 0 0 1 8 8c0 1.849-.63 3.549-1.682 4.903l5.39 5.39a1 1 0 1 1-1.415 1.414l-5.39-5.39A7.96 7.96 0 0 1 10 18a8 8 0 1 1 0-16m0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12"
                                            ></path>
                                        </svg>
                                        <span
                                            class="Textstyled__Text-sc-1u7b1ni-0 skill-log-find-word"
                                            color="txt-black-dark"
                                            >검색</span
                                        >
                                    </div>
                                </button>
                            </div>
                        </nav>
                    </div>
</body>
</html>